################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/MyFirstApi/obj
/MyFirstApi/bin/Debug/net10.0
